.todo {
    padding: 30px;
    border-radius: 12px;
    max-width: 650px;
    margin: 30px auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.welcome-icon {
    font-size: 60px;
    color: #053c73;
    margin-bottom: 20px;
}

.title-divider {
    width: 100%;
    max-width: 300px;
    border: 0;
    border-top: 3px solid #053c73;
    margin-bottom: 30px;
}

h1 {
    margin-top: 0.2px;
    font-size: 28px;
    font-weight: 600;
    color: #053c73;
    margin-bottom: 10px;
}
h2 {
    color: #053c73;
}
.navegacion {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.navegacion a {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #053c73;
    text-decoration: none;
    padding: 12px 20px;
    border: 1px solid #cbd5e0;
    border-radius: 8px;
    transition: all 0.3s ease;
    background-color: #edf2f7;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.navegacion a i {
    margin-right: 10px;
    font-size: 22px;
}

.navegacion a:hover {
    background-color: #053c73;
    color: #ffffff;
    border-color: #053c73;
    box-shadow: 0 4px 12px rgba(45, 55, 72, 0.2);
}

.navegacion a.active {
    background-color: #053c73;
    color: #ffffff;
    border-color: #053c73;
}

@media (max-width: 768px) {
    .todo {
        flex-direction: column; /* Cambia a columna en pantallas más pequeñas */
    }
}
.dropdown {
    position: relative;
}

.dropdown-toggle {
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    left: 100%; /* Mueve el menú a la derecha del elemento contenedor */
    top: 0; /* Alinea el menú con la parte superior del elemento contenedor */
    background-color: #edf2f7; /* Mismo color que los botones de navegación */

    
    z-index: 1000;
    min-width: 160px; /* Ajusta según sea necesario */
    padding: 5px 0; /* Espaciado interior del menú */
    transition: all 0.3s ease; /* Transición suave para el menú */
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu a {
    display: block;
    padding: 12px 20px; /* Mayor área de clic */
    color: #053c73;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición para color también */
    margin: 5px 0; /* Añade margen vertical para separar los elementos */
   
}

.dropdown-menu a:hover {
    background-color: #053c73; /* Color de fondo al pasar el ratón */
    color: #ffffff; /* Color de texto al pasar el ratón */
}

.almacen{
    position: relative;
}
.almacen-toggle {
    cursor: pointer;
}
.almacen-options {
    display: none;
    position: absolute;
    left: 100%; /* Mueve el menú a la derecha del elemento contenedor */
    top: 0; /* Alinea el menú con la parte superior del elemento contenedor */
    background-color: #edf2f7; /* Mismo color que los botones de navegación */

    
    z-index: 1000;
    min-width: 160px; /* Ajusta según sea necesario */
    padding: 5px 0; /* Espaciado interior del menú */
    transition: all 0.3s ease; /* Transición suave para el menú */
}

.almacen:hover .almacen-options {
    display: block;
}

.almacen-options a {
    display: block;
    padding: 12px 20px; /* Mayor área de clic */
    color: #053c73;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición para color también */
    margin: 5px 0; /* Añade margen vertical para separar los elementos */
   
}

.almacen-options a:hover {
    background-color: #053c73; /* Color de fondo al pasar el ratón */
    color: #ffffff; /* Color de texto al pasar el ratón */
}
