<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <h2>Cambiar Contraseña</h2>

  <!-- Contraseña Actual -->
  <div class="form-group">
    <div class="password-container">
      <input [type]="passwordVisible ? 'text' : 'password'" formControlName="currentPassword" placeholder="Contraseña Actual" required>
      <button type="button" (click)="togglePasswordVisibility()" class="eye-button">
        <i [ngClass]="passwordVisible ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
      </button>
    </div>
  </div>

  <!-- Nueva Contraseña -->
  <div class="form-group">
    <div class="password-container">
      <input [type]="passwordVisible ? 'text' : 'password'" formControlName="newPassword" placeholder="Nueva Contraseña" required>
      <button type="button" (click)="togglePasswordVisibility()" class="eye-button">
        <i [ngClass]="passwordVisible ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
      </button>
    </div>
  </div>

  <!-- Confirmar Nueva Contraseña -->
  <div class="form-group">
    <div class="password-container">
      <input [type]="passwordVisible ? 'text' : 'password'" formControlName="confirmPassword" placeholder="Confirmar Nueva Contraseña" required>
      <button type="button" (click)="togglePasswordVisibility()" class="eye-button">
        <i [ngClass]="passwordVisible ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
      </button>
    </div>
    <div *ngIf="registerForm.errors?.['passwordMismatch'] && (registerForm.get('confirmPassword')?.touched)" class="text-danger">
      <small>Las contraseñas no coinciden.</small>
    </div>
  </div>

  <!-- Botón de Enviar -->
  <div class="form-group">
    <button type="submit" class="btn">Actualizar</button>
  </div>
</form>
