<header class="header">
    <div class="logo">Mi Logo</div>
    <nav class="navegacion">
        <a routerLink="/web2/inicio">Inicio</a>
        <a href="#">Sobre Nosotros</a>
        <a routerLink="/web2/catalogo">Catalogo</a>

        <a routerLink="/web2/carrito" routerLinkActive="active">
            <i class="fas fa-shopping-cart"></i>
        </a>

        <a routerLink="/web2/passw" routerLinkActive="active">
            <i class="fas fa-lock"></i> Cambiar Contraseña
        </a>
        <a routerLink="/web/inicio" class="cerrar-sesion">
            <i class="fas fa-sign-out-alt"></i> Cerrar Sesion
        </a>
    </nav>
</header>

