.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.table-container {
  margin-top: 20px; /* Espacio superior para la tabla */
}

.table-responsive {
  overflow-x: auto; /* Habilita el desplazamiento horizontal */
  min-width: 800px; /* Ajusta este valor según sea necesario */
}

table {
  width: 100%; /* Asegura que la tabla use todo el ancho del contenedor */
  border-collapse: collapse; /* Mejora la presentación de la tabla */
  margin: 20px 0; /* Espacio superior e inferior */
}

th, td {
  padding: 12px; /* Espacio dentro de las celdas */
  text-align: center; /* Alineación del texto */
  border: 1px solid #ddd; /* Bordes en las celdas */
}

th {
  background-color: #f2f2f2; /* Color de fondo para el encabezado */
}

tbody tr:hover {
  background-color: #f9f9f9; /* Color de fondo al pasar el mouse */
}

.btn-danger {
  background-color: rgb(240, 95, 95); /* Fondo rojo */
  color: white; /* Texto blanco */
  border: none; /* Sin borde */
  padding: 10px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  font-size: 12px; /* Tamaño de fuente */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  transition: background-color 0.3s, transform 0.2s; /* Transiciones suaves */
  display: flex; /* Usar flexbox para alinear el ícono y el texto */
  align-items: center; /* Centrar verticalmente */
}

.btn-danger:hover {
  background-color: #da190b; /* Cambia a un rojo más oscuro al pasar el mouse */
  transform: scale(1.05); /* Aumenta ligeramente el tamaño al pasar el mouse */
}

.btn-danger i {
  margin-right: 2px; /* Espaciado entre el ícono y el texto */
}
