<div class="todo">
    <div class="container">
        <h1>Panel Informativo</h1>
        <h1>ADMINISTRADOR</h1>
        <div class="welcome-icon">
            <i class="fas fa-user"></i>
        </div>
        <hr class="title-divider" />
      <nav class="navegacion">
        <div class="dropdown">
          <a routerLink="/panel/userss" class="dropdown-toggle">
            <i class="fas fa-user"></i> Usuarios
          </a>

        </div>

            <div class="dropdown">
                <a routerLink="/panel/admin" class="dropdown-toggle">
                    <i class="fas fa-file-alt"></i> Administrador

                </a>

            </div>

            <div class="dropdown">
                <a routerLink="/panel/listart" class="dropdown-toggle">
                    <i class="fas fa-user-cog"></i> Artesanos
                </a>
                <div class="dropdown-menu">
                    <a routerLink="/panel/artes">
                        <i class="fas fa-plus-circle"></i> Agregar
                    </a>
                    <a routerLink="/panel/listart">
                        <i class="fas fa-list-alt"></i> Listar
                    </a>
                </div>
            </div>


            <div class="dropdown">
                <a routerLink="/panel/listdeliv" class="dropdown-toggle">
                    <i class="fas fa-truck"></i> Delivery
                </a>
                <div class="dropdown-menu">
                    <a routerLink="/panel/deliv">
                        <i class="fas fa-plus-circle"></i> Agregar
                    </a>
                    <a routerLink="/panel/listdeliv">
                        <i class="fas fa-list-alt"></i> Listar
                    </a>
                </div>
            </div>


            <div class="dropdown">
                <a routerLink="/panel/listemp" class="dropdown-toggle">
                    <i class="fas fa-building"></i> Empresa
                </a>
                <div class="dropdown-menu">
                    <a routerLink="/panel/registeremp">
                        <i class="fas fa-plus-circle"></i> Agregar
                    </a>
                    <a routerLink="/panel/listemp">
                        <i class="fas fa-list-alt"></i> Listar
                    </a>
                </div>
            </div>

            <div class="dropdown">
                <a routerLink="/panel/listcom" class="dropdown-toggle">
                    <i class="fas fa-hands-helping"></i> Comunidad
                </a>
                <div class="dropdown-menu">
                    <a routerLink="/panel/registercom">
                        <i class="fas fa-plus-circle"></i> Agregar
                    </a>
                    <a routerLink="/panel/listcom">
                        <i class="fas fa-list-alt"></i> Listar
                    </a>
                </div>
            </div>

            <div class="dropdown">
                <a routerLink="/panel/listcat" class="dropdown-toggle">
                    <i class="fas fa-list"></i> Categorías
                </a>
                <div class="dropdown-menu">
                    <a routerLink="/panel/registercat">
                        <i class="fas fa-plus-circle"></i> Agregar
                    </a>
                    <a routerLink="/panel/listcat">
                        <i class="fas fa-list-alt"></i> Listar
                    </a>
                </div>
            </div>

            <div class="almacen">
                <a routerLink="/panel/listalm">
                    <i class="fas fa-archive"></i> Almacén
                </a>
                <div class="almacen-options">
                    <a routerLink="/panel/registeralm" class="almacen-button">
                        <i class="fas fa-plus-circle"></i> Agregar
                    </a>
                    <a routerLink="/panel/listalm" class="almacen-button">
                        <i class="fas fa-list-alt"></i> Listar
                    </a>
                </div>
            </div>


        </nav>
    </div>
  </div>

