<div class="container">
    <h2>Lista De Comunidades</h2>
    <div class="table-container">
      <table>
        <thead>
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Ubicacion</th>
          <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let community of comunidad; let i = index">
          <td>{{ community.id }}</td>
          <td>{{ community.name }}</td>
          <td>{{ community.location }}</td>
          <td>
            <button (click)="updateCom(community)" class="btn edit-button" title="Editar">
              <i class="fas fa-edit"></i>
            </button>
            <button (click)="deleteCom(community)" class="btn delete-button" title="Eliminar">
              <i class="fas fa-trash-alt"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  
    <div class="edit-form" *ngIf="communitySelected.id">
      <h2>Editar Comunidad</h2>
      <form (ngSubmit)="addCommunity(communitySelected)" #categoryForm="ngForm">
        <div>
          <label for="name">Nombre:</label>
          <input type="text" id="name" [(ngModel)]="communitySelected.name" name="name" required>
        </div>
        <div>
          <label for="description">Ubicacion:</label>
          <input type="text" id="description" [(ngModel)]="communitySelected.location" name="description" required>
        </div>
        <div class="form-actions">
          <button type="submit">Guardar</button>
          <button type="button" (click)="resetCommunitySelection()">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
  
