<div class="container">
  <h2 class="catalog-title">CATÁLOGO DE PRODUCTOS</h2>
  <button (click)="irAlCarrito()">Ir al Carrito</button>


  <div class="filters">
    <div class="category-dropdown">
      <h3>Selecciona una Categoría:</h3>
      <ul>
        <li *ngFor="let categoria of categorias">
          <input type="checkbox"
                 [checked]="selectedCategories.includes(categoria.id)"
                 (change)="onCategoryChange(categoria.id)" />
          {{ categoria.name }}
        </li>
      </ul>
      <button (click)="showAllProducts()">Mostrar Todos los Productos</button>
    </div>

    <div class="sellers-dropdown">
      <h3>Selecciona un Artesano:</h3>
      <ul>
        <li *ngFor="let seller of sellers" (click)="onSellerChange(seller)">
          <input type="checkbox" [checked]="selectedSellers.includes(seller)" /> {{ seller.email }}
        </li>
      </ul>
    </div>

    <button (click)="clearFilters()">Limpiar Filtros</button>

  </div>


    <div class="catalog-container">
    <div *ngIf="filteredProductos.length === 0" class="no-products-message">
      <p>No se encontraron productos que coincidan con los filtros seleccionados.</p>
    </div>
    <div class="product-card" *ngFor="let producto of filteredProductos">
      <img (click)="openModal(producto)" [src]="producto.imageUrl" alt="{{ producto.name }}" class="product-image"/>
      <div class="product-info">
        <h3 class="product-title">{{ producto.name }}</h3>
        <p class="product-description"><strong>Descripción:</strong> {{ producto.description }}</p>
        <p><strong>Categorías:</strong>
          <span *ngFor="let category of producto.categories">
            {{ category.name }}<span *ngIf="!lastCategory(category)">, </span>
          </span>
        </p>
        <p><strong>ID:</strong> {{ producto.id }}</p>
        <p><strong>Stock:</strong> {{ producto.stock }}</p>
        <p><strong>Precio:</strong> ${{ producto.price }}</p>
        <p><strong>Vendedor:</strong> {{ producto.sellerEmail }}</p>
      </div>
    </div>
  </div>


  <!-- Modal -->
  <div class="modal" *ngIf="isModalOpen">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <div class="product-details">
        <div class="image-column">
          <img [src]="productoSelected.imageUrl" alt="{{ productoSelected.name }}" class="product-image"/>
        </div>
        <div class="info-column">
          <h2>{{ productoSelected.name }}</h2>
          <p><strong>Descripción:</strong> {{ productoSelected.description }}</p>
          <p><strong>Categorías:</strong>
            <span *ngFor="let category of productoSelected.categories">
              {{ category.name }}<span *ngIf="!lastCategory(category)">, </span>
            </span>
          </p>
          <p><strong>Stock:</strong> {{ productoSelected.stock }}</p>
          <p><strong>Precio:</strong> ${{ productoSelected.price }}</p>
          <p><strong>Vendedor:</strong> {{ productoSelected.sellerEmail }}</p>
          <input type="number" [(ngModel)]="selectedQuantity" min="1" max="{{ productoSelected.stock }}" />
          <button (click)="agregarAlCarrito(productoSelected,selectedQuantity)">Agregar al carrito</button>

        </div>
      </div>
    </div>
  </div>

</div>
