.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.catalog-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    width: 200px;
    text-align: center;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-image {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.product-info {
    margin: 10px 0;
}

.actions button {
    margin: 5px;
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.actions button:hover {
    background-color: #0056b3;
}


.modal {
  display: flex;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center; /* Centra el contenido */
  align-items: center; /* Centra verticalmente */
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 8px;
}


.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.product-image {
   /* Ancho al 100% del contenedor */
  height: 300px;
  max-width: 200px; /* Ancho máximo de 400px */
  height: auto; /* Mantiene la relación de aspecto */
}

.product-details {
  display: flex; /* Usar Flexbox para las columnas */
  align-items: flex-start; /* Alinear elementos al inicio */
}

.image-column {
  flex: 1; /* Ocupa 1 parte del espacio */
  padding: 10px; /* Espaciado interno */
}

.info-column {
  flex: 1; /* Ocupa 1 parte del espacio */
  padding: 10px; /* Espaciado interno */
}



