<div class="payment-container">
    <h2>Método de Pago</h2>  
    <div>
      <h4>Datos de Facturación</h4>
      <form>
        <input type="text"  placeholder="Nombre" />
        <input type="email" placeholder="Correo Electrónico" />
        <input type="text" placeholder="Dirección" />
      </form>
    </div>
  
    <div>
      <h4>Datos de Envío</h4>
      <form>
        <input type="text"  placeholder="Dirección" />
        <input type="text" placeholder="Ciudad" />
      </form>
    </div>
  
    <button >Generar Código QR</button>

  
    <p>Gracias por su preferencia.</p>
  </div>
  
