<div class="encabezado">
    <h1>Bienvenido a Artesanías Bolivia</h1>
    <p>El destino ideal para encontrar las mejores artesanías de todo el país, con entrega a domicilio personalizada.</p>
  </div>
  
  <section class="intro">
    <div class="imagenes">
      <app-carousel></app-carousel>
    </div>
    <div class="texto">
    <h2>Descubre el Arte de Bolivia</h2>
    <p>Artesanías Bolivia nació de la pasión por preservar y compartir la rica herencia cultural de nuestro país. En un viaje a través de las regiones más vibrantes de Bolivia, nos dimos cuenta de la necesidad de una plataforma que uniera a los artesanos locales con el mundo. Así, creamos un espacio donde cada pieza cuenta una historia y cada compra apoya directamente a los artesanos.</p>
    <p>Con nuestro servicio de entrega a domicilio, puedes disfrutar de las artesanías bolivianas desde la comodidad de tu hogar. ¡Explora nuestra colección y déjate llevar por la magia del arte boliviano!</p>

    </div>
  </section>

  
  
