<footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box">
            <span class="icono2"><i class="fa-solid fa-desktop"></i></span>
            <h2>Compra Sin Moverte</h2>
            <p>Encuentra lo que necesitas, y coordina el pago y la entrega con el delivery. Es fácil y rápido. ¡Todos podemos hacerlo!</p>
        </div>
        <div class="box">
            <span class="icono2"><i class="fa-solid fa-box"></i></span>
            <h2>Recibe tu producto</h2>
            <p>Acuerda la entrega de tu compra con el delivery. Puedes recibirlo en tu casa, en la oficina o retirarlo. ¡Tú decides qué prefieres!</p>
        </div>
        <div class="box">
            <span class="icono2"><i class="fa-solid fa-cart-shopping"></i></span>
            <h2>Vende Gratis</h2>
            <p>Miles de personas quieren lo que ofreces. Publica y verás qué pronto llegan las compras. ¡Tú no pagas nada!</p>
        </div>
    </div>
</footer>

